body {
    font-family: Arial, sans-serif;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

fieldset {
    font-size: 20px;
    color: #363636;
    width: 600px;
    padding-left: 25px;
    padding-right: 25px;
    height: 250px;
    float: left;
}