body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 1200px;
    text-align: center;
    margin: auto;
}

.header {
    background: white;
    width: 1200px;
    height: 150px;
    text-align: center;
    font-size: 100px;
    /*color: dimgrey;*/
    margin: auto;
}

.form {
    text-align: left;
    width: 100%;
}

.btn-success {
    width: 100%;
    background: white;
    border-color: dimgrey;
    color: black;
    border-radius: 15px;
    transition: 1s linear;
}

.btn-success:hover {
    color: white;
    border-color: black;
    border-radius: 20px;
    background: dimgrey;
}
